= '\n'

// for Facebook
meta(property='og:title', content='#{pkg.title}')/
meta(property='og:type', content='website')/
meta(property='og:image', content='https://secure.gravatar.com/avatar/d01e1b331c40db8eee3dbbfd8b70a6f1?size=1200')/
meta(property='og:url', content='#{pkg.homepage}')/
meta(property='og:description', content='#{pkg.description}')/